<body>
  <nav>
    <div class="logo"></div>
    <ul class="menu">
      <div class="menu__item toggle"><span></span></div>
      <li class="menu__item"><a href="" class="link link--dark"><i class="fa fa-github"></i> Github</a></li>
    </ul>
  </nav>
  <div class="hero">
    <h1 class="hero__title">Shreyas Shivakumar</h1>
    <div *ngIf="isProd; else isStage">
      <p class="hero__description">Welcome to <strong>PRODUCTION</strong> Environment</p>
    </div>
    <ng-template #isStage>
      <p class="hero__description">Welcome to <strong>STAGING</strong> Environment</p>
    </ng-template>
  </div>
  <div class="hero__terminal">
    <pre>
        <!-- Place your demo code here -->
        <code class="shell-session demo">hyperyolo ~ $ </code>
    </pre>
  </div>
  <div class="wrapper">
    <div class="feature">
      <div class="feature__item">
        <h3 class="section__title">Just Checking! </h3>
        <p>Start writing your notes immediately in any terminal! No more time wasted on navigating and opening your text
          editor.</p>
      </div>
      <div class="feature__item">
        <h3 class="section__title">File Syncing</h3>
        <p>Save your file in Dropbox then you can access to it from anywhere.</p>
      </div>
      <div class="feature__item">
        <h3 class="section__title">Secure</h3>
        <p>Encrypt your notes optionally. No one can get to your secrets! </p>
      </div>
      <div class="feature__item">
        <h3 class="section__title">Configuration</h3>
        <p>Maintain all your settings in a single <span class="code code--inline">config.json</span> file. Never need to
          redo the setting every single time jotting down a note.</p>
      </div>
      <div class="feature__item">
        <h3 class="section__title">Highlightings</h3>
        <p>For better readability, scribbler has a clean, beautiful color scheme allow you to scan files fast.</p>
      </div>
      <div class="feature__item">
        <h3 class="section__title">Keybindings</h3>
        <p>You can expect common keybindings for scribbler. Customize <span
            class="code code--inline">bindings.json</span> for your own liking! </p>
      </div>
    </div>
  </div>
  <div class="changelog">
    <div class="wrapper">
      <h3 class="section__title">Changelog</h3>
      <div class="changelog__item">
        <div class="changelog__meta">
          <h4 class="changelog__title">v0.7</h4>
          <small class="changelog__date">10/12/2017</small>
        </div>
        <div class="changelog__detail">
          <ul>
            <li>Improving the writing workflow with better key bindings</li>
            <li>Design updates</li>
            <li>SSL Verification for web hooks</li>
            <li>Render Emoji</li>
          </ul>
        </div>
      </div>
      <div class="changelog__item">
        <div class="changelog__meta">
          <h4 class="changelog__title">v0.6</h4>
          <small class="changelog__date">7/30/2017</small>
        </div>
        <div class="changelog__detail">
          <ul>
            <li>Adding Unicode support</li>
            <li>Basic text highlighting</li>
            <li>Fresh Design</li>
          </ul>
        </div>
      </div>
      <div class="changelog__item">
        <div class="changelog__meta">
          <h4 class="changelog__title">v0.5</h4>
          <small class="changelog__date">5/10/2017</small>
        </div>
        <div class="changelog__detail">
          <ul>
            <li>Save default md file in new folders</li>
            <li>Ability to quick search on existing notes</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">This template is taken from <a href="https://tympanus.net/codrops/" target="_blank"
      class="link link--light">Codrops</a>.</footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

</body>
